body{
    background-color: #0F2E2C;
}
.container{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #F2AC3C;
    top:175px;
    left:225px;
    color:#0E2E2C;
    
    box-shadow: 0px 0px 0px 8px, 0px 0px 0px 20px #F2AC3C, 0px 0px 0px 30px, 0px 0px 0px 30px #0F2E2C;


    

}
.container2{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius:50%;
    background-color: #988235;
    top:130px;
    left:180px;
    color:#0E2E2C;
    
    box-shadow: 0px 0px 0px 15px #0F2E2C, 0px 0px 0px 25px #F2AC3C, 0px 0px 0px 35px #0F2E2C, 0px 0px 0px 45px #F2AC3C;
    z-index: -1;
}

/* html{
    background:#0F2E2C;
    display: grid;
    place-items: center;
}
body{
    width: 40px;
    height:40px;
    background: #F2AC3C;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px#0F2E2C,
    0px 0px 0px 20px #F2AC3C,
    0px 0px 0px 30px #0F2E2C ,
    0px 0px 0px 40px #988235,
    0px 0px 0px 52px #0F2E2C ,
    0px 0px 0px 60px #F2AC3C ,
    0px 0px 0px 74px #0F2E2C 
    ,0px 0px 0px 80px #F2AC3C  ; 
    

} */
